/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding: 10px;
  transition: color 0.3s ease;
}

header a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

header a:hover {
  color: #ccc;
}

header a:hover::before {
  width: 100%;
}

header button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header button:hover {
  background-color: #fff;
  color: #333;
}

/* Body Styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 500px;

  

}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  text-align: left;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 5px;
}

.footer-section h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
  
}

.footer-section:hover h4::before {
  width: 100%;
}

.footer-section p {
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s ease;
}

.footer-section:hover p {
  color: rgba(255, 255, 255, 0.9);
}