body {
    font-family: Arial, sans-serif;
  }
  
  .appointment-card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    margin-bottom: 20px;
  }
  
  .appointment-card h4 {
    margin: 0;
    color: #007BFF;
  }
  
  .appointment-card p {
    margin: 5px 0;
  }
  
  .appointment-card button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
  }
  
  .appointment-card button:hover {
    background-color: #0056b3;
  }
  