body {
    font-family: Arial, sans-serif;
    height: 100vh;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  }
  
  form div {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form select, form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  form button {
    margin-top: 20px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  